body {
    font-family: arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.579);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.login-button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.login-button {
    background-color: rgb(115, 115, 241);
}
